@model ForgotPasswordViewModel

<div class="container card-centered">
    <div class="card" style="width: 100%; max-width: 400px;">
        <div class="card-body">
            <h5 class="card-title text-center">Şifrenizi mi unuttunuz?</h5>
            <form asp-action="ForgotPassword">
                <div class="mb-3">
                    <label for="email" class="form-label">Email adresiniz</label>
                    <input asp-for="Email" type="email" class="form-control" id="email" placeholder="Email adresinizi girin">
                </div>
                <button type="submit" class="btn btn-primary w-100">Şifre Sıfırlama Linki Gönder</button>
            </form>
            <div asp-validation-summary="All" class="text-danger"></div>
            <span class="text-danger">@TempData["Message"]</span>
        </div>
    </div>
</div>
