@model PasswordUpdateModel
<div class="container card-centered">
    <div class="card" style="width: 100%; max-width: 400px;">
        <div class="card-body">
            <h5 class="card-title text-center">Şifre Güncelle</h5>
            <form asp-action="PasswordUpdate" method="post">
                <div class="mb-3" hidden>
                    <label  class="form-label">Email</label>
                    <input asp-for="Email" class="form-control" hidden >
                </div>

                <div class="mb-3" >
                    <label class="form-label">Email</label>
                    <span  class="form-control">@Model.Email </span>
                </div>

                <div class="mb-3">
                    <label for="Password" class="form-label">Şifre</label>
                    <input asp-for="Password" class="form-control" placeholder="Şifrenizi Giriniz">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label for="PasswordConfirm" class="form-label">Şifre Tekrar</label>
                    <input asp-for="PasswordConfirm" class="form-control" placeholder="Şifrenizi Tekrar Giriniz">
                    <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary w-100">Şifremi Güncelle</button>
            </form>
            <div asp-validation-summary="All" class="text-danger"></div>
            <span class="text-danger">@TempData["Message"]</span>
        </div>
    </div>
</div>

