@model AppUser

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form asp-controller="User" asp-action="Profile" method="post" class="p-1 w-100 m-auto">
                        <div class="mb-3 row">
                            <label for="firstName" class="col-sm-3 col-form-label custom-label">Ad:</label>
                            <div class="col-sm-9">
                                <input asp-for="Profile.FirstName" type="text" class="form-control" id="firstName" placeholder="Adınızı girin">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label  class="col-sm-3 col-form-label custom-label">Soyad:</label>
                            <div class="col-sm-9">
                                <input asp-for="Profile.LastName" type="text" class="form-control"  placeholder="Soyadınızı girin">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label  class="col-sm-3 col-form-label custom-label">Email:</label>
                            <div class="col-sm-9">
                                <input asp-for="Email" type="text" class="form-control"  placeholder="Emailinizi giriniz">
                            </div>
                        </div>
                     
                        <div class="mb-3 row">
                            <div class="col-sm-9 offset-sm-3">
                                <button type="submit" class="btn btn-primary">Kaydet</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
