@* oturum açmış kullanıcının bilgilerini kontrol etmek için bu 3 kütüphaneyi ekledim. *@
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@inject UserManager<AppUser> UserManager //userın bilgilerine ulaşmak için

    @* websitenin tüm içerik sayfalarının bu sayfa kendi içersinde gösterir bir resmin çerçevesi gibidir *@
@{
    var userx = await UserManager.GetUserAsync(User); //oturum açmış kullanıcı bilgilerini getir
    var firstName = userx?.Profile.FirstName;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NewsCenter</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NewsCenter.styles.css" asp-append-version="true" />
    <style>
        body
        {
            background-color: #e6e6e6;
        }
    </style>
</head>
<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
            <div class="container">
                <!-- Website İsmi -->
                <a class="navbar-brand back bg-danger text-white fw-bold" asp-area="" asp-controller="Home" asp-action="Index">&nbsp;&nbsp;&nbsp;&nbsp; HABER MERKEZİ &nbsp;&nbsp;&nbsp;&nbsp; </a>


                <!-- Navbar Menüleri -->
                <ul class="navbar-nav mx-auto">
                    <!-- 'mx-auto' ortalamak için kullanılır -->

                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">ANA SAYFA</a>
                    </li>
                  

                    @await Component.InvokeAsync("CategoryMenu")

                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Contact" asp-action="Index">İLETİŞİM</a>
                    </li>
                </ul>

                @* oturum açmış kullanıcı varsa *@
                    @if (SignInManager.IsSignedIn(User))









                    {
                    <form  asp-controller="User" asp-action="Signout" method="post">
                       @{
                            var user = await UserManager.GetUserAsync(User); // Oturum açmış kullanıcıyı alıyoruz.
                            if (user != null && !await UserManager.IsInRoleAsync(user, "Visitor")) // kullanıcı rollerinde visitor diye bir rol yoksa navbarda admin paneline geçiş butonunu göster.
                            {
                                @Html.ActionLink("AdminPanel", "Index", "Home", new { area = "Admin" }, new { @class = "btn btn-dark" })

                            }

                       }

                        <a href="/User/Profile" type="button" class="btn btn-dark">

                            @* bootstrap sitesinden kullanıcı iconu kulalndım *@
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                            </svg>
                            @firstName                      

                        </a>
                        <button type="submit" class="btn btn-dark">
                            <i class="fas fa-sign-out-alt"></i>
                            Çıkış
                        </button>
                    </form>

                    }
                    else
                    {
                        <!-- Üye Giriş Butonu -->
                        <a class="btn btn-outline-light ml-2 mr-2 " asp-controller="User" asp-action="SignIn">Giriş</a>

                    }


            </div>
        </nav>

      
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @* websitedeki diğer tüm alt sayfalar bu kod ile bu sayfaya bağlanır bu alanda gözükür *@
            @RenderBody() 
        </main>
    </div>
    @* bu alan websitemin footerıdır. bootstrapdan aldım *@
    <div class="container bg-dark text-white">
        <footer class="mt-5 d-flex justify-content-between">
            <div class="col-md-4">
                <h5>Hakkımızda</h5>
                <p>
                    2024 yılında kurulan News Center AŞ, tarafsız, doğru ve güncel haber anlayışıyla yola çıkan dinamik bir haber platformudur.İleriye dönük hedefimiz, dijital çağın gereksinimlerine uygun, erişilebilir ve yenilikçi bir haber portalı olarak sektörde fark yaratmaktır.
                </p>
            </div>
            <div class="col-md-4">
                <h5>İletişim</h5>
                <address>
                    <p>Email: infonewscenter19@gmail.com</p>
                    <p>Phone: +1 (123) 456-7890</p>
                </address>
            </div>
            <div class="col-md-4">
                <h5>Bizi Takip Edin</h5>
                <ul class="list-inline">
                    <li class="list-inline-item"><a target="_blank" href="https://www.facebook.com/">Facebook</a></li>
                    <li class="list-inline-item"><a target="_blank" href="https://x.com/">Twitter</a></li>
                    <li class="list-inline-item"><a target ="_blank" href="https://www.instagram.com/">Instagram</a></li>
                </ul>
            </div>
        </footer>
        <div class="row mt-3">
            <div class="col-12 text-center">
                <p>&copy; 2024 News Center. Tüm hakları saklıdır.</p>
            </div>
        </div>
    </div>
    @* proje oluştuğunda bu kodlar otomatik oluşur varsayılan javascript kodlarını bu sayfaya dahil etmek için *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
