<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NewsCenter</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NewsCenter.styles.css" asp-append-version="true" />
</head>
<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
            <div class="container">
                <!-- Website İsmi -->
                <a class="navbar-brand back bg-danger text-white fw-bold" asp-area="" asp-controller="Home" asp-action="Index">&nbsp;&nbsp;&nbsp;&nbsp; HABER MERKEZİ &nbsp;&nbsp;&nbsp;&nbsp; </a>


                <!-- Navbar Menüleri -->
                <ul class="navbar-nav mx-auto">
                    <!-- 'mx-auto' ortalamak için kullanılır -->

                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">ANA SAYFA</a>
                    </li>

                    @await Component.InvokeAsync("CategoryMenu")
                </ul>

                <!-- Üye Giriş Butonu -->
                <button class="btn btn-outline-light ml-2 mr-2 " type="button">Üye Girişi</button>
                <a class="btn btn-outline-light" type="button" asp-area="Admin" asp-controller="Home" asp-action="Index">Admin Paneli</a>
            </div>
        </nav>

        <nav hidden class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            @* <a type="button" href="/CreateCategory" class="btn btn-dark">Giriş</a> *@
            @* yorum satırı burası *@

            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>



                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">Admin Paneli</a>
                        </li>
                    </ul>
                </div>


                @* @Html.Partial("_NavbarPartial") *@
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - NewsCenter - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
