@model CreateNewsPageVM

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<form asp-action="CreateNews" asp-controller="News" method="post" class="p-3 w-75 m-auto" enctype="multipart/form-data">

    <div class="mb-3">
        <label>Kategori Seciniz</label>
        @Html.DropDownListFor(model => model.News.CategoryID, new SelectList(ViewBag.categories, "ID", "CategoryName"), "-", new { @class = "form-control" })
    </div>

    <div class="mb-3">
        <label>Haber başlığı</label>
        <input asp-for="News.Header" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Açıklama</label>
        <textarea asp-for="News.Description" class="form-control" rows="20"></textarea>
    </div>
@* 
    <div class="mb-3">
        <label>Resim Urlsi</label>
        <input asp-for="News.ImageURL" class="form-control" />
    </div> *@

    <div class="mb-3">
        <label>Resim seciniz</label>
        <input type="file" name="formFile" class="form-control" />
    </div>


    <div class="mb-3">
        <button class="btn btn-primary">Kaydet</button>
        <a asp-action="Index" button class="btn btn-primary">Geri</a>

    </div>
</form>
