@model News

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<form asp-action="UpdateNews" asp-controller="News" method="post" class="p-3 w-75 m-auto">

    <input type="hidden" asp-for="ID" />
    <div class="mb-3">
        <label>Haber başlığı giriniz</label>
        <input asp-for="Header" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Aciklama  giriniz</label>
        <textarea asp-for="Description" class="form-control" rows="20"></textarea>
    </div>
    <div class="mb-3">
        <label>Resim Urlsi girirnix</label>
        <input asp-for="ImageURL" class="form-control" />
    </div>


    <div class="mb-3">
        <button class="btn btn-primary">Haber Güncelle</button>
        <a asp-action="Index" button class="btn btn-primary">Geri</a>
    </div>
</form>
